@mixin nav-rounded-btn {
    font-family: $fonts;
    width:150px;
    height: 50px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
  }


  @mixin settings-rec-btn{
        font-family: 'Poppins', sans-serif;
        background-color: #0F797B;
        border: 1px solid white;
        border-bottom-color: white;
        color: white;
        cursor: pointer;
        width: 111px;
        height: 30px;
        font-size: x-small;
        font-weight: bold;
  }

  @mixin accounts-settings-content-area{
    html{
      background-color:$primary-background-color;
      font-family: $fonts;
    }
    
    .main {
      font-size: 28px; /* Increased text to enable scrolling */
      margin-left: 12%; /* Same as the width of the sidenav */
      padding-top: 6%;
      z-index: 1;
    }
    
    .headertitle{
      color: black;
      margin-top: 2%;
      margin-left: 5%;
      margin-bottom: 1%;
      text-align: left;
    }
    
    .settings-flex-container, .mylikedpost-flex-container{
      background-color: $content-background-color;
      height: auto;
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0% 4% 0% 5%;
    }
    
    
    .settings-flex-container > div {
      margin-top: -5%;
      margin-left: 0%;
      padding: 9px 0px 0px 0px;
    }
    
    .settings-column, .mylikedpost-column {
      flex: 50%;
      flex: 15;
      margin-bottom: -25%;
      text-align: left;
    }

    .mylikedpost-column {
      margin-bottom: -17%;
  }
    .mylikedpost-column{
      background-color: white;
    }
  }

  @mixin loginSignup {
    body{
      font-family: $fonts;
    }
    
    .heading{
      margin-bottom: 1%;
    }
    
    .heading-title{
      color: #0F797B;
      text-align: center;
      margin-bottom: 4%;
    }
    
    .forumImg{
      width: 430px;
      height: 100%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
    
    input{
      background-color: #F3F3F3;
      border: none;
      height: 26px;
    }
    
    .form-area{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: -3%;
    }

    .login-flex-container{
      background-color: $content-background-color;
      border-radius: 25px;
      display:flex;
      flex-wrap: nowrap;
      flex-direction: row;
      height: auto;
      margin: 2% 4% 1% 15%;
      width:70%
    }
    
    .login-flex-container > div {
      margin-top: 0%;
      margin-left: 0%;
    }
    
    .login-column {
      flex: 50%;
      flex: 15;
      margin-bottom: 0%;
      text-align: left;
    }
    
    .btn-area{
      margin-top: 17%;
      margin-bottom: 14%;
    }
    
    h5{
      margin:0;
      text-align:center;
    }
  }