@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$fonts: 'Poppins', sans-serif;
$nav-background-color: #030303;
$primary-background-color:rgb(214, 210, 210);
$content-background-color: white;
$nav-bar-button-orange:#D49A0D;
$nav-bar-button-orange-hover-text: #F6E9CB;
$nav-bar-button-orange-hover-bg:rgb(37, 37, 37);