@import 'variables';
@import 'mixins';

.CreatepostBtn, .LoginBtn{
  @include nav-rounded-btn;
  background-color: #189693;
  color: black;
  font-size: 15px;
}
  
.CreatepostBtn:hover, .LoginBtn:hover{
  @include nav-rounded-btn;
  border: 2px solid $nav-bar-button-orange-hover-bg;
  background-color: $nav-bar-button-orange-hover-bg;
  color: $nav-bar-button-orange-hover-text;
  display: inline-block;
}

.LogoutBtn, .SignupBtn{
  @include nav-rounded-btn;
  border: 2px solid $primary-background-color;
  background-color: $primary-background-color;
  color: black;
}
  
.LogoutBtn:hover, .SignupBtn:hover{
  @include nav-rounded-btn;
  border: 2px solid $nav-bar-button-orange-hover-bg;
  background-color:$nav-bar-button-orange-hover-bg;
  color: $nav-bar-button-orange-hover-text;
}
  
.loginpageBtn{
  background-color: $login-button;
  border: 2px solid $login-button;
  color:white;
  cursor: pointer;
  font-family: $fonts;
  font-size:medium;
  font-weight: bold;
  width: 166px;
}

.loginpageBtn:hover{
  background-color: white ;
  border: 2px solid $login-button;
  color: $login-button;
  font-weight: bold;
}
 