@import 'variables';
@import 'mixins';
*, *:before, *:after{
    box-sizing: border-box;
}

body, html{
    font-family: $fonts;
}

// ============= Top Nav =======================
.navbar{
    background-color: $nav-background-color;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar > div{
    flex: 1 0 21%; 
}

.navbarLogo{
    margin-right:5px;
}

.LogoImg{
    display: block;
    float: left;
    height: 100%;
    margin-left: 9%;
    margin-right: 2%;
    padding: 6px 6px 3px 19px;
    width: 100px;
    border-radius: 50%;
}

.navbarTitle{
    color: $nav-bar-title;
    display: inline-block;
    font-size: xx-large;
}

.navbarBtn button{
    float: left;
    margin: 3% -30% 0% 31%;
    padding-left: 1%;
    text-align: center;
}

.ProfileImg{
    cursor: pointer;
    display: block;
    float: right;
    height: 50px;
    margin-top: 3%;
    margin-right: 17%;
    width: 50px;
}

// ========== Settings Nav =============
.sidenav {
    background-color: #111;
    left: 0; 
    overflow-x: hidden;
    padding-top: 13px;
    padding-bottom: 70px;
    position: fixed;
    top: 0;
    width: 172px;
    margin-top: 192px;
    margin-left: 21px;
  }
    
  .sidenav a {
    color: #818181;
    display: block;
    font-size: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
  }
    
  .sidenav a:hover {
    color: #f1f1f1;
    cursor:pointer;
  }
    
  @media screen and (max-height: 450px) {
   .sidenav {  padding-top: 10%;}
   .sidenav a {font-size: 18px;}
  }
    
  .sidelinks{
    margin-top: 19%;
  }
    
// ========== Categories Nav =============
.sidenavCat {
    background-color: #111;
    left: 0; 
    overflow-x: hidden;
    padding-top: 13px;
    padding-bottom: 13px;
    position: fixed;
    top: 0;
    width: 172px;
    margin-top: 121px;
    margin-left: 21px;
  }

.sidenavCat h1 {
    color: $primary-background-color;
    display: block;
    font-size: 20px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
  }
  .categoriesList{
    color: #818181;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
}

.sidelinksCat{
    margin-top: -10%;
    margin-left: 5%;
}