@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*, *:before, *:after{
    box-sizing: border-box;
}

body, html{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin:0;
}

#navbar{
    background-color: #030303;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

#navbar h1{
    color: rgb(214, 210, 210);
    font-size: xx-large;
    display: inline-block;
    float: left;
    padding-left: 20px;
}

#navbar > div{
    flex: 1 0 21%; 
}

#navbar button{
    font-family: 'Poppins', sans-serif;
    width:150px;
    height: 50px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

#navbarBtn{
    padding-left: 50%;
    display: contents;
}

#navbarBtn img{
    width: 50px;
    height: 50px;
    margin-top: 48%;
    margin-right: 1%;
    cursor: pointer;
}

#navbarBtn{
    padding-left: 50%;
    display: contents;
}

.navbarLogo{
    margin-right:5px;
}

.ProfileImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
}
.LogoImg{
    display: block;
    margin-left: 20px;
    width: 100px;
    border-radius: 50%;
    padding: 15px 0px 5px 5px;
    display: inline-block;
    float: left;
}

.CreatepostBtn{
    background-color:  rgb(214, 210, 210);
    color: black;
    font-size: 15px;
  }
  
  .CreatepostBtn:hover{
    display: inline-block;
    border: 2px solid rgb(37, 37, 37);
    background-color:rgb(37, 37, 37);
    color: #F6E9CB;
  }

  .CreatepostBtn{
    background-color:  rgb(214, 210, 210);
    color: black;
    font-size: 15px;
  }
  
  .CreatepostBtn:hover{
    display: inline-block;
    border: 2px solid rgb(37, 37, 37);
    background-color:rgb(37, 37, 37);
    color: #F6E9CB;
  }

  .LogoutBtn{
    border: 2px solid #D49A0D;
      background-color: #D49A0D;
      color: black;
  }
  
  .LogoutBtn:hover{
    border: 2px solid rgb(37, 37, 37);
    background-color:rgb(37, 37, 37);
  }
  