<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <img src ="">
    <form action="/newhome" method="POST">
       
         
        <div class ="input-container">
            <input name="Susername" id="Susername" class ="input-field" type ="text" placeholder ="Username">
        </div>
         
        <div class ="input-container">
            <input name="Semail" id="Semail" class ="input-field" type ="text" placeholder ="Email">
        </div>
         
        <div class ="input-container">
            <input name="Spassword" id="Spassword" class ="input-field" type ="password" placeholder ="Password">
        </div>
        <button type ="submit" class ="btt">Sign Up</button>
    </form>
    </body>
</body>
</html>