<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <img src ="">
         
        <div class ="input-container">
            <i class ="icon"></i>
            <input id="Lusername" class ="input-field" type ="text" placeholder ="Username">
        </div>
         
        <div class ="input-container">
            <i class ="icon"></i>
            <input id="Lemail" class ="input-field" type ="text" placeholder ="Email">
        </div>
         
        <div class ="input-container">
            <i class ="icon"></i>
            <input id="Lpassword" class ="input-field" type ="password" placeholder ="Password">
        </div>
        <button type ="submit" class ="btt"> Log In</button>
    </form>
    WRONG USERNAME OR PASSWORD
    </body>
</body>
</html>