<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
    <link rel="stylesheet" href="/static/css/nav1.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <!-- JavaScript File  -->
    <script src="/static/js/include.js"></script>
</head>
<body>
<!-- Top and side Navigator --->
<div w3-include-html="nav1.html"></div>
  <!-- Header --->
  <h1 class="headertitle">Oops!</h1>
  <h1 class="headertitle">I did it again</h1>
  <h1 class="headertitle">I played with your heart</h1>
  <h1 class="headertitle">and got lost in this game</h1>
  <script>
    includeHTML();
  </script>
</body>
</html>