<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Forum</title>
    <link rel="stylesheet" href="../css/globalnav.css">
    <link rel="stylesheet" href="../css/nav1.css">
    
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVIGATOR BAR WITH LOGO AND BUTTONS  -->
    <nav id="navbar">
      <div class="navbarLogo" >
        <img class="logoImg" src="/static/img/logo5.png" alt="">
        <h1>Food Forum</h1> 
      </div>
        <!-- Buttons --->
        <div class="navbarBtn">
          <a href="../template/myaccount.html"><img class="profileImg" src="../img/settings.png" alt="My Settings"></a>
          <a href="../template/createpost.html"><button class="createpostBtn" id="createpost" type="submit" form="">+ Create Post</button></a>
          <button class="logoutBtn" id="logoutBtn" type="submit" form="">Log Out</button>
        </div>
    </nav>  
</body>
</html>
