*, *:before, *:after{
    box-sizing: border-box;
}

body, html{
    background-color:#e2e0db;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#navbar{
    background-color: #030303;
    display: flex;
    padding-left: 50px;
    flex-wrap: wrap;
    padding: 0px 30px 0px 15px;
}

#navbar > div{
    flex: 1 0 21%; 
}

#navbar h1{
    color: rgb(214, 210, 210);
    font-size: xx-large;
    display: inline-block;
    float: left;
    padding-left: 20px;
}

.logoImg{
    float: left;
    display: block;
    margin-left: 20px;
    width: 100px;
    border-radius: 50%;
    padding: 15px 0px 5px 5px;
    display: inline-block;
    float: left;
}

#navbar button{
    font-family: 'Poppins', sans-serif;
    width:150px;
    height: 50px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    float: right;
}

.navbarBtn{
    padding-left: 50%;
    display: contents;
}

.navbarLogo{
    margin-right:5px;
}

.signupBtn{
    border: 2px solid #D49A0D;
    background-color: #D49A0D;
    color: #F6E9CB;
}

.loginBtn{
    border: 2px solid rgb(214, 210, 210);
    border-bottom-color: rgb(214, 210, 210);
    background-color: rgb(214, 210, 210);
    color: black;
}

.signupBtn:hover{
    border: 2px solid rgb(37, 37, 37);
    background-color:rgb(37, 37, 37);
}

.loginBtn:hover{
    border: 2px solid #848282;
   background-color: #848282;
}
  
