
 .flex-container{
    display:flex;
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .flex-container > div {
    margin-left: 0%;
    padding: 18px;
  }
  .subheader{
    margin-top: -16px;
    margin-left: -65%;
  }
  .headertitle{
    color: black;
    text-align: left;
    margin-left: 51px;
    margin-bottom: -13px;

  }
  
  .column {
    flex: 50%;
  }
    
    #r1c2 {
    text-align: left;
    flex: 15;
    }
    
   .accountBtn, .likedpostBtn{
        background-color:#e2e0db;
        color:rgb(97, 92, 92);
        border: none;
      }
      
      .mypostBtn {
        color: black;
        background-color:#e2e0db;
        border: 2px solid #e2e0db;
        border-bottom-color: black;
      }