
 .flex-container{
    display:flex;
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .flex-container > div {
    margin-left: 0%;
    margin-top: -2%;
    padding: 18px;
  }
  .subheader{
    margin-top: -16px;
    margin-left: -65%;
  }

  .headertitle{
    color: black;
    text-align: left;
    margin-left: 58px;
    margin-bottom: 15px;
  }
  
  .column {
    flex: 50%;
  }
    
    #r1c2 {
    text-align: left;
    flex: 15;
    }
    
    p span{
      display: inline;
      margin-top: -8px;
      color: rgb(18, 17, 17);
      font-size: medium;
    }

    img span{
      display: inline;
      margin-top: -8px;
      color: rgb(18, 17, 17);
      font-size: small;
    }

    .socialicons{
      width: 18px;
    }