@import 'variables';
@import 'mixins';
*, *:before, *:after{
    box-sizing: border-box;
}

body, html{
    font-family: $fonts;
}

.navbar{
    background-color: $nav-background-color;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar > div{
    flex: 1 0 21%; 
}

.navbarLogo{
    margin-right:5px;
}

.LogoImg{
    border-radius: 50%;
    display: block;
    float:left;
    margin: 0% 0% 0% 5%;
    padding: 13px 13px 0px 0px;
    width: 100px;
}

.navbarTitle{
    color: rgb(214, 210, 210);
    display: inline-block;
    font-size: xx-large;
}

.navbarBtn button{
    float: right;
    margin: 3% 2% 0% -1%;
    padding-left: 1%;
    text-align: center;
}

.ProfileImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    margin-top: 3%;
    margin-right: 17%;
    float: right;
}


