<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href="/static/css/nav1.css">
    <link rel="stylesheet" href="/static/css/createpost.css">
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- JavaScript File  -->
    <script src="/static/js/include.js"></script>
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <script>
    tinymce.init({selector:'textarea', width: 1093, height: 300});
    </script>
</head>
<body>
    <!-- Top Navigator --->
    <div w3-include-html="nav1.html"></div>
  <!-- Header --->
  <h1 class="headertitle">Create a post</h1>
  <div class="textarea">
    <textarea id="myTextarea"></textarea>
  </div>
    
  <div class="buttonarea">
    <a href="/static/template/myaccount.html"><button class="discardBtn">Discard</button></a>
    <button class="postBtn">Post</button>
  </div>
    <script>
        includeHTML();
      </script>
</body>
</html>