<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Forum</title>
    <link rel="stylesheet" href="/static/css/global1.css">
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVIGATOR BAR WITH LOGO AND BUTTONS  -->
  <nav id="navbar">
    <div class="navbarLogo">
      <img class="" src="/static/img/logo3.png" alt="">
      <h1>Food Forum</h1> 
    </div>
  
    <div class="navbarBtn">
      <button class="signupBtn" id="signupBtn" type="submit" form="">Sign Up</button>
      <button class="loginBtn" id="loginBtn" type="submit" form="">Login</button>
      
   
    </div>
  </nav>
 
  <header>
   
  </header>
  
</body>
</html>
