<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href="/static/css/nav1.css">
    <link rel="stylesheet" href="/static/css/mypost.css">
    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <!-- JavaScript File  -->
    <script src="/static/js/include.js"></script>
    
</head>
<body>
    <!-- Top Navigator --->
    <div w3-include-html="nav1.html"></div>
  <!-- Header --->
  
  <h1 class="headertitle">My Posts</h1>
<div class="flex-container">
  <div class="column" id="r1c2">
    <!-- Post --->
    <div class="mypost">
      <h6>NafiRanta</h6>
      <h4>Title: <span>Daim Frozen Cake Recipe</span></h4>
      <p><span>How do we show the data here?</span></p>
      <img class="socialicons" src="/static/img/dislikes.png" alt="">
      <span>10</span><span> likes</span>
      <img class="socialicons" src="/static/img/comments.png" alt="">
      <span>100</span>
      <span> comments</span>
      <img class="socialicons" src="/static/img/share.png" alt="">
      <span> Share</span>
    </div>  
</div>
</div>
    <script>
        includeHTML();
      </script>
</body>
</html>